<section class="card">
  <!-- The contents of this card links to the gallery page using the gallery ID -->
  <a href="/material/{{id}}"><h2>{{material_name}}</h2></a>
    {{#if filename}}
    <img src="https://res.cloudinary.com/dzfv4d1jg/image/{{filename}}">
    {{else}} 
    {{placeholder_image category}}
    {{/if}}
    <!-- add if available button here -->
    {{#if available}}
     <span class="label label-success">Available</span> 
    {{/if}}
  </a>
</section>

<div>
  <img src="../images/landing_page/icons/medical-equipment.png">
</div>

<p>
  world
</p>