<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="card-title">{{material_name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          {{#if filename}}
          <img src="https://res.cloudinary.com/sharesphere/image/upload/c_crop,q_auto,w_500/{{filename}}" alt="image uploaded by user of {{material_name}}">
          {{else}}
          <img src="../images/landing_page/icons{{placeholder_image category}}" alt="blue icon of {{placeholder_image category}}">
          {{/if}}
        </div>
        <p class="card-subtitle mb-2 text-body-secondary">Posted by {{user.name}}</p>
        <p>{{category}}</p>
        <p>{{description}}</p>
        {{#if availability}}
        <p class="card-text">Item is currently available to borrow.</p>
        <!-- On click, email request to owner and add to requests on their profile? -->
        {{!-- <a href="#" class="btn btn-primary">Request item</a> --}}
        {{/if}}
        {{#unless availability}}
        <p class="card-text">Item is currently not available to borrow.</p>
        {{/unless}}
        <p>This item has a replacement cost of {{cost}}</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>