<div class="listing">
    <div class="card mb-3">
        <img src=`"{{filename}}" class="card-img-top {{category}}" alt="{{material_name}}"`>
        <div class="card-header">
            <h5 class="card-title">{{material_name}}</h5>
        </div>
      <div class="card-body">
            <p class="card-text">{{description}}</p>
            <p class="card-text">This item has a replacement cost of {{cost}}</p>
            {{#if availability}}
            <p class="card-text">Item is currently available to borrow.</p>
            <!-- On click, email request to owner and add to requests on their profile? -->
            <a href="#" class="btn btn-primary">Request item</a>
            {{/if}}
            {{#unless availability}}
            <p class="card-text">Item is currently not available to borrow.</p>
            {{/unless}}
        </div>
    </div>
</div>